body{background:#120022;color:white;font-family:sans-serif;text-align:center}
.card{padding:20px;background:#2b0044;margin:10px;border-radius:10px}
#chat{height:150px;overflow:auto;background:#000;margin:10px}
.gift{position:fixed;top:40%;left:40%;font-size:40px;animation:pop 1s}
@keyframes pop{from{transform:scale(0)}to{transform:scale(1.5)}}
